.main {
  /* display: flex;
  flex-direction: column; */

  position: relative;
  overflow: hidden ;
}

.hero{
  display: flex;
  align-items: center;
  height: 150vh;
  width: 100%;
  flex-direction: column;
  position: relative;
  border: 1px solid #fff;
  padding-top: 30vh;
}

.hero h1{
  word-break: break-word;
    font-size: 11vw;
    text-align: center;
    line-height: 0.8;
    font-weight: 900;
    letter-spacing: -.02em;
    transition: 0.5s cubic-bezier(.25,.75,.5,1.25);
    cursor: none;
    user-select: none;
}


.hero .title{
  width: fit-content;
  /* background-color: #22222250; */
  border-radius: 50px;
  padding: 2px 10px;
  color: var(--ds-gray-900);
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -.02em;
  position: relative;
  margin-top: 15px;
  user-select: none;
}


.hero .title::before{
  content: " ";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 95%;
  height: 2px;
  background: linear-gradient(90deg,#000,var(--develop-text),#000);
  opacity: 0.5;
}


.hero .title span:nth-child(2){
  margin: 0px 24px;
}

.hero .hline{
  position: absolute;
  bottom: 70px;
  left: 120px;
  width: 2px;
  max-height: 70vh;
  /* transform: translate(-50%,-50%); */
  border-radius: 10px;
  background: linear-gradient(0deg,var(--develop-text),#000);
  transition: all 0.5s ease;
}

.hero .hline2{
  position: absolute;
  top: calc(100vh - 70px);
  right: 120px;
  width: 2px;
  max-height: 100vh;
  /* transform: translate(-50%,-50%); */
  border-radius: 10px;
  background: linear-gradient(180deg,var(--develop-text),#000);
  transition: all 0.5s linear;

}

.hero .vline{
  position: absolute;
  bottom: 70px;
  left: 120px;
  height: 2px;
  width: 0vw;
  max-width: calc(100vw - 257px);
  /* transform: translate(-50%,-50%); */
  border-radius: 10px;
  background: linear-gradient(0deg,var(--develop-text),var(--develop-text));
  transition: all 0.5s linear;
}


section.edu,
section.skills,
section.work{
  display: flex;
  height: 100vh;
  width: 100vw;
}

section.skills{
  background-color: #000;
  color: #fff;
  
}
section.edu{
  background-color: #fff;
  color: #000;
}

section.work div.field{
  height: 100vh;
  width: 100vw;
  flex: 0 0 100%;
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
   gap: 0px;
}

section.work div.field > div{
  padding: 3rem;
}

/* section.work div.field:nth-child(1)
{
  background-color: aqua;
}

section.work div.field:nth-child(2)
{
  background-color: red;
} */

section.work div.field div.topic {
  grid-row-start: 1;
   grid-column-start: 1;
   
   grid-row-end: 3;
   grid-column-end: 2;
   padding-bottom: 1rem;
   display: flex;
   flex-direction: column;
   
  }
  
  section.work div.field div.topic h2{
    font-size: clamp(4rem,7vw,7vw);
    line-height: 0.9;
    padding-bottom: 2rem;
    font-weight: 700;
    letter-spacing: -.02em;
    text-transform: capitalize;
  }

  section.work div.field div.topic p{
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -.02em;
  }

  section.work div.field div.topic span{
    background-color: unset;
    border: unset;
    outline: unset;
    display: flex;
    white-space:nowrap;
    width: 100%;
    margin-top: auto;
  }
  section.work div.field div.topic span hr{
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-right: 10px;
  }
  
section.work div.field div.detail {
  grid-row-start: 3;
  grid-column-start: 1;
  padding-top: 1rem;
  grid-row-end: 4;
  grid-column-end: 2;
  display: flex;
  gap: 1rem;
}

section.work div.field div.detail > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 10rem;
  border: 1px solid #fff;
  height: fit-content;
  background-color: rgba(39,36,25,.25);
  border: 1px solid var(--ds-gray-500);
  border-radius: 0.5em;
  padding: 1em;
}

section.work div.field div.items {
  grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   display: flex;
   justify-content: center;
   align-items: start;
  }
  
  section.work div.field div.items div.list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
  }
  
  section.work div.field div.items div.list > span{
    padding-top: 30px;
  }

  section.work div.field div.items div.list > span a{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: right;    
  }
  
  section.work div.field div.items div.list > span hr{
    margin-bottom: 10px;
    height: 2px;
    background-color: #fff;
  }

  section.work div.field div.items div.list:nth-child(1){
    align-self: center;
    margin-right: 10px;
}

section.work div.field div.items div.item_card{
  position: relative;
  width: clamp(100px,14rem,14rem);
  aspect-ratio: 5/4;
  padding: 10px;
  display: flex;
  align-items: end;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #ffffff40;
  /* background: linear-gradient(90deg,#000,var(--develop-text),#000); */
}

section.work div.field div.items div.item_card2{
  aspect-ratio: unset !important;
}

section.work div.field div.items div.item_card2 h3{
  margin-bottom: 10px;
}

section.work div.field div.items div.item_card[data-imgsha="true"]::after{
  position: absolute;
  content: " ";
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(20deg,  rgba(0,0,0,.9) 10%  , rgba(0,0,0,0));
  z-index: 2;
  mix-blend-mode: multiply;
}

section.work div.field div.items div.item_card img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .8; 
}
 
section.work div.field div.items div.item_card .Card_Det{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  z-index: 3;
  height: 100%;
}

section.work div.field div.items div.item_card .Card_Det span ul{
  display: flex;
  list-style: none;
  font-size: 0.7rem;
  letter-spacing: -.02em;
  color: #000;
  gap: 5px;
}

section.work div.field div.items div.item_card .Card_Det span ul li{
  background: #fff;
  border-radius: 50px;
  padding: 2px 8px;
  font-weight: 500;
}

section.work div.field div.items .Card_Det a,
section.work div.field div.items .Card_Det h3{
  font-size: clamp(1rem,2rem,2rem);
  line-height: 1;
  font-weight: 500;
  text-transform: capitalize;
}

section.work div.field div.items .Card_Det p{
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -.02em;
}
  
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}